# **Analisis de Empleabilidad y Salarios del Sector de IT/DATA 2020-2025**

<image src="img/dataset-cover.jpg">

_____

### **TEMA**

Este proyecto se centra en realizar un Análisis Exploratorio de Datos (EDA) para descubrir datos de interes, patrones y tendencias en las ofertas de trabajo realacionadas con los datos recojidas en el DataSet.
El objetivo es comprender las necesidades y puntos fuertes del sector para asi resolver dudas de trabajadores y sobre todo de estudiantes siendo asi un factor de cierre en ventas de cursos al resolver un numero de dudas con respecto al sector.

### **HIPOTESIS**

- La demanda de empleos relacionados con los datos a aumentado en los ultimos años y muestra indicios de seguir aumentando
- Los salarios tienden a superar la mediana de la poblacion. Alrededor de que porciento de la poblacion (percentiles) se encuentran los salarios?
- En el sector se aprecia un alto inidice de empleos remotos o hibridos que va en aumento con el paso de los años
- Estados unidos se corona como el pais donde mas demanda del sector hay. En Europa la mayoria de empleos se encontraran en paises como Inglaterra y Alemania, y España estara entre los 10 primeros
- Las empresas grandes no son necesariamente las que mejor pagan. Cual es la relacion entre la experiencia de trabajo y la demanda de esta segun el tamaño de la empresa?. A que tipo de empresa es mas coveniente ir segun la experiencia en el sector?

### **OBTENCION DE LOS DATOS**

**DATASETS Y FUENTES DE DATOS**

In [ ]:
import pandas as pd

__FUENTES__   
- Kaggle: The AI, ML, Data Science Salary (2020- 2025) DataSet - [ [Link](https://www.kaggle.com/datasets/samithsachidanandan/the-global-ai-ml-data-science-salary-for-2025) ]
- stack***overflow*** : 2024 Developer Survey - [ [Link](https://survey.stackoverflow.co/2024/work/) ]
- Manfred : Tech Career Report - $alarios - [ [Link](https://www.getmanfred.com/blog/tech-career-report-alarios) ]

__Muestra de las primeras 10 entradas del DataSet__

In [3]:
jobs = pd.read_csv('./data/salaries.csv')
jobs.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Customer Success Manager,57000,EUR,60000,NL,50,NL,L
1,2025,SE,FT,Engineer,165000,USD,165000,US,0,US,M
2,2025,SE,FT,Engineer,109000,USD,109000,US,0,US,M
3,2025,SE,FT,Applied Scientist,294000,USD,294000,US,0,US,M
4,2025,SE,FT,Applied Scientist,137600,USD,137600,US,0,US,M
5,2025,EN,FT,Data Analyst,82000,USD,82000,US,0,US,M
6,2025,EN,FT,Data Analyst,44000,USD,44000,US,0,US,M
7,2025,SE,FT,Software Development Engineer,149800,USD,149800,US,0,US,L
8,2025,SE,FT,Software Development Engineer,89700,USD,89700,US,0,US,L
9,2025,SE,FT,Research Scientist,200000,USD,200000,US,0,US,M