In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
jobs = pd.read_csv('../data/salaries.csv')

In [5]:
jobs[jobs['experience_level'] == 'EX'].describe()

         work_year        salary  salary_in_usd  remote_ratio
count  1859.000000  1.859000e+03    1859.000000   1859.000000
mean   2023.996235  2.029851e+05  200224.101130     20.306616
std       0.710135  1.565187e+05   77121.550826     40.088205
min    2020.000000  1.500000e+04   15000.000000      0.000000
25%    2024.000000  1.450000e+05  145000.000000      0.000000
50%    2024.000000  1.900000e+05  190000.000000      0.000000
75%    2024.000000  2.444500e+05  245000.000000      0.000000
max    2025.000000  6.000000e+06  609000.000000    100.000000

In [ ]:
jobs[(jobs['experience_level'] == 'EX')]

85061     15000
16465     29706
16464     29706
10271     30896
10272     30896
          ...
61866    488000
36432    490000
52370    526400
49626    550000
51136    609000
Name: salary_in_usd, Length: 1859, dtype: int64

In [6]:
jobs[jobs['experience_level'] == 'SE'].describe()

          work_year        salary  salary_in_usd  remote_ratio
count  51596.000000  5.159600e+04   51596.000000  51596.000000
mean    2024.004942  1.750437e+05  173033.652764     24.097798
std        0.631470  1.128918e+05   70306.876756     42.723337
min     2020.000000  1.600000e+04   15809.000000      0.000000
25%     2024.000000  1.236870e+05  123700.000000      0.000000
50%     2024.000000  1.616000e+05  161300.000000      0.000000
75%     2024.000000  2.109600e+05  210000.000000      0.000000
max     2025.000000  7.500000e+06  750000.000000    100.000000

In [7]:
jobs[jobs['experience_level'] == 'MI'].describe()

          work_year        salary  salary_in_usd  remote_ratio
count  26748.000000  2.674800e+04   26748.000000  26748.000000
mean    2024.082361  1.503744e+05  142708.823501     17.556453
std        0.588824  2.986178e+05   71619.621695     37.907808
min     2020.000000  1.500000e+04   15000.000000      0.000000
25%     2024.000000  9.330900e+04   93333.000000      0.000000
50%     2024.000000  1.301020e+05  130000.000000      0.000000
75%     2024.000000  1.767300e+05  176000.000000      0.000000
max     2025.000000  3.040000e+07  800000.000000    100.000000

In [8]:
jobs[jobs['experience_level'] == 'EN'].describe()

         work_year        salary  salary_in_usd  remote_ratio
count  8381.000000  8.381000e+03    8381.000000   8381.000000
mean   2024.074931  1.089958e+05  100316.106908     16.095931
std       0.616494  1.873884e+05   56311.088597     36.359808
min    2020.000000  1.400000e+04   15000.000000      0.000000
25%    2024.000000  6.240000e+04   62847.000000      0.000000
50%    2024.000000  8.820000e+04   87943.000000      0.000000
75%    2024.000000  1.282500e+05  126000.000000      0.000000
max    2025.000000  6.600000e+06  793136.000000    100.000000